<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> 


<h1>{{ task.task_name }}</h1>
<ul>
  <li>Submitted: {{task.task_submit_date}}</li>
  <li>Current Status: {{task.curr_status}}</li>
  <li>Info: {{task.status_info}}</li>
</ul>

<br><br>
<h2>STAGES:  </h2>
<div class="accordion" id="accordionExample">
  {% for stage in task.stage_set.all %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
	{{ stage.stage_name }} &nbsp; &nbsp; &nbsp; 
	{% if stage.curr_status == "failed" %}
	<font color="red"> {{ stage.curr_status }} </font>
	{% elif stage.curr_status == "submitted" %}
	<font color="orange"> {{ stage.curr_status }} </font>
	{% elif stage.curr_status == "running" %}
	<font color="green"> {{ stage.curr_status }} </font>
	{% elif stage.curr_status == "completed" %}
	<font color="blue"> {{ stage.curr_status }} </font>
	{% else %}
	 {{ stage.curr_status }}
	{% endif %}

	&nbsp; &nbsp; &nbsp; {{ stage.num_dirac_jobs }} DIRAC JOBS.
      </button>
    </h2>
    <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#StageAccordion">
      <div class="accordion-body">
	<!-- <pre>{{ stage.status_info }}</pre> -->
	{% for diracid in stage.diracjob_set.all %}
	Job {{ diracid.dirac_id }}
	{% if diracid.job_status == "failed" %}
	<font color="red"> {{ diracid.job_status }} </font>
	{% elif diracid.job_status == "submitted" %}
	<font color="orange"> {{ diracid.job_status }} </font>
	{% elif diracid.job_status == "running" %}
	<font color="green"> {{ diracid.job_status }} </font>
	{% elif diracid.job_status == "completed" %}
	<font color="blue"> {{ diracid.job_status }} </font>
	{% else %}
	 {{ diracid.job_status }}
	{% endif %}
	<br>
	{% endfor %}
	<br><br>
	<pre>
	  {{ stage.status_info }}
	  </pre>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
