{% load static %}
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> 

<link rel="stylesheet" href="{% static 'tasks/style.css' %}">

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">LHCbPR2Grid Jobs</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
<!--      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
    </ul>
  </header>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Submission Time</th>
      <th>Status</th>
<!--      <th>Info</th> -->
      <th>Stage Name</th>
      <th>Stage Status</th>
      <th>Num DIRAC Jobs</th>
    </tr>
  </thead>
  <tbody>

    
{% if latest_task_list %}
{% for task in latest_task_list %}
<tr>
  <td rowspan="{{ task.stage_set.all|length }}"><a href="{% url 'tasks:detail' task.id %}">{{ task.task_name }}</a></td>
  <td rowspan="{{ task.stage_set.all|length }}">{{ task.task_submit_date }}</td>
  {% if task.curr_status == "task failed" or task.curr_status == "jobs failed" %}
  <td rowspan="{{ task.stage_set.all|length }}" style="color: red;">{{ task.curr_status }}</td>
  {% elif task.curr_status == "task submitted" or task.curr_status == "jobs complete"%}
  <td rowspan="{{ task.stage_set.all|length }}" style="color: orange;">{{ task.curr_status }}</td>
  {% elif task.curr_status == "jobs running" %}
  <td rowspan="{{ task.stage_set.all|length }}" style="color: green;">{{ task.curr_status }}</td>
  {% else %}
  <td rowspan="">{{ task.curr_status }}</td>
  {% endif %}
  <!--  <td>{{ task.status_info }}</td> -->
  {% for stage in task.stage_set.all %}
    <td>{{ stage.stage_name }}</td>
    {% if stage.curr_status == "failed" %}
    <td style="color: red;">{{ stage.curr_status }}</td>
    {% elif stage.curr_status == "submitted" %}
    <td style="color: orange;">{{ stage.curr_status }}</td>
    {% elif stage.curr_status == "running" %}
    <td style="color: green;">{{ stage.curr_status }}</td>
    {% elif stage.curr_status == "completed" %}
    <td style="color: blue;">{{ stage.curr_status }}</td>
    {% else %}
    <td>{{ stage.curr_status }}</td>
    {% endif %}
    <td>{{ stage.num_dirac_jobs }}</td>
</tr><tr>
   {% endfor %}
</tr>
{% endfor %}
  </tbody>
</table>
{% else %}
  </tbody>
</table>
<p>No tasks are available.</p>
{% endif %}







